<?xml version="1.0" encoding="utf-8"?><!--
  ~ DevEvent-Android © 2022 Ji Sungbin. all rights reserved.
  ~ DevEvent-Android license is under the MIT.
  ~
  ~ [AndroidManifest.xml] created by Ji Sungbin on 22. 12. 8. 오전 3:45
  ~
  ~ Please see: https://github.com/brave-people/Dev-Event-Android/blob/master/LICENSE
  -->

<manifest />
