<!--
  ~ DevEventAndroid © 2021 용감한 친구들. all rights reserved.
  ~ DevEventAndroid license is under the MIT.
  ~
  ~ [AndroidManifest.xml] created by Ji Sungbin on 21. 6. 21. 오전 12:15.
  ~
  ~ Please see: https://github.com/brave-people/Dev-Event-Android/blob/master/LICENSE.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team.bravepeople.devevent">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".DevEventAndroid"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DevEvent"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".activity.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.main.MainActivity" />

    </application>
</manifest>